@media screen and (max-width:1000px) {
    .collapse:not(.show) {
        display: none !important;
    }
    .collapse{
        justify-content: flex-start !important;

    }
    .nav-link{
        margin-left: 0;
        padding: 5px;
    }
    .formm{
        display: none;
    }
    .container-fluid{
        margin: 0 20px 0 20px !important;
    }
    .home{
        margin: 0 15px 0 15px !important;
        display: block !important;
    }
    .home-right{
        padding: 0;
    }
    .home-diapazon{
        width: 380px;
    }
    .carousel{
        width: 100% !important;
    }

    .carousel-inner {
        height: 250px;
    }
    footer{
        display: block;
        justify-content: center;
    }
    footer .icon{
        padding: 0;
        text-align: center;
    }
    footer .text {
        padding: 10px 20px;
    }
    .menager{
    }

}
