
body
{
    /* background: url("/img/sub-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;    
}
.row{
        --bs-gutter-x: 0rem !important;
}
.about{
    --bs-gutter-x:  1.5rem !important;
}
@media screen and (max-width:786px){
    .about{
        --bs-gutter-x:  0rem !important;
    }
}

        .container-fluid{
    margin: 0 50px 0 50px !important;
}
.navbar-brandG{
    color: #9A734A;
}
.navbar-brand{
    font-size: 40px;
    font-weight: 700;
}
.navbar-span{
    font-weight: 400;
    font-family: sans-serif;
    font-size: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.nav-link{
    color: #222;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif !important;
    margin-left: 30px;
    letter-spacing: 0.5px;
    transition: all 0.5s;
    margin-top: 15px;
    /* width: 100%; */
}
.nav-link:hover{
    background-color: #9A734A;
    transition: all 0.5s;
    border-radius: 5px;
    color: #fff;
}
.act{
    margin-left: 100px;
}
.cap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AD752F;
    padding: 8px 50px;
    height: 40px;
}
.nav-lin{
    text-decoration: none;
    color: #fff; 
    margin: 5px 3px ;
}
.nav-lin:hover{
    color: #222;
}
.phone-number h2{
    font-size: 15px;
    color: #fff;
}
.lang{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.im{
    height: max-content;
}
.dropdown-toggle{
    font-size: 15px;
    color: #fff;
}
.collapse{
    display: flex !important;
    justify-content: center;
}
.apimg{
    width: 400px;
    height: 400px;
}
.home{
    margin: 30px 50px 0 50px !important;

}
.carousel-inner{
    height: 620px;
}
.home-right{
    max-width: 400px;
    width: 100%;
    padding: 0 20px;
}
.home-chair{
    background: url("/img/cms-banner-1.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    position: relative;
}
.pixels{
    position: absolute;
    transition: all 0.5s; 
    width: 100%;
    height: 200px;
}

.pixels:hover{
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.5s; 
}
.home-chair h4{
    padding: 20px 0px 0 30px;
    font-size: 15px;
}
.home-chair h2{
    padding: 10px 0px 0 30px;
    font-size: 30px;

}
.home-chair a{
    padding: 20px 0px 0 30px;
    font-size: 15px;
    color: #9A734A;
    position: absolute;
}
.home-diapazon{
    background: url("/img/cms-banner-2.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    position: relative;
}


.home-diapazon h2{
    padding: 20px 0px 0 30px;
    font-size: 23px;
}

.home-box{
    background: url("/img/cms-banner-3.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    position: relative;
    margin-top: 10px;
}
.home-box h4{
    padding: 20px 0px 0 30px;
    font-size: 20px;
}
.home-box h2{
    padding: 10px 0px 0 30px;
    font-size: 25px;

}
.home-box a{
    padding: 20px 0px 0 30px;
    color: #9A734A;
    position: absolute;
}


.home-bed{
    background-color: rgba(0, 0, 0, 0.158) !important;
    max-width: 400px;
    width: 100%;
    margin: 20px 20px 20px 0;
    padding: 30px 10px;
}

.home-bed h4{
    font-size: 20px;
}
.home-bed .text{
    padding: 10px 10px;
}
.home-bed h2{
    font-size: 20px;
    font-weight: normal;
}

.banner{
    background: url("/img/sub-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    position: relative;
}
.banner p {
    margin-top: 200px !important;
}
.banner h2{
    color: rgb(252, 235, 235);

}
.prod{
    margin: 0 70px !important;
}
.fuut{
    background: #9A734A;
    height: 350px;
    position: relative;
    padding: 20px 30px;
}

.footer-nav{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}
.footer-nav a{
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}
.footer-nav a:hover{
    color: #222;
}
footer .text h2{
    text-align: center;
    color: #fff;
    font-size: 40px;
}
footer .icon i {
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
}
footer .icon i:hover {
    color: rgb(0, 0, 0);
}
.fuut p {
    bottom: 0;
    text-align: center; 
    border-top: 4px solid rgba(255, 243, 243, 0.055);
    color: #fff;
    padding: 0 20px;
}
form{
    margin: 20px auto;

}


.meneg{
    -webkit-box-shadow: 38px 38px 55px 21px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 38px 38px 55px 21px rgba(34, 60, 80, 0.2);
    box-shadow: 38px 38px 55px 21px rgba(34, 60, 80, 0.2);
}

.display-5{
    text-align: center;
    margin-top: 30px;
}
.img-left img{
    width: 700px;
    height: 400px;
}
.bigaddress{

    padding: 30px 40px;
    margin-bottom: 50px;
}
.bigaddress .left{
    padding: 0 30px;
}

/* .zoom{
    width: 100%;
    height: 100%;
} */
/* .zoom {
    transition: transform .2s; 
    margin: 0 auto;
}
.zoom:hover{
    transform: scale(1.5);
} */
